.title{
    margin: 10px;
}

.imgsize{
  width: 400px;
  height: 3cm;
  
}

.center-image {
  display: block;
  margin: 0 auto;
} 


 body{
    background: linear-gradient(#a36361,#d3a29d,#e8b298,#eecc8c,#e8b298,#d3a29d,#a36361);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  